<form method="POST" action="/recipes">
  <input type="text" name="name" placeholder="recipe_name">
  <input type="text" name="ingredients" placeholder="ingredients">
  <input type="text" name="cook_time" placeholder="cook_time">
  <input type="submit" value="Submit">
</form>