Create A Recipe

<form method="post" action="/recipes">
  <p><label>Name:</label><br>
    <input type="text" name="name" id="name"></p>
  <p><label>Ingredients:</label><br>
    <input type="text" name="ingredients" id="ingredients"></p>
  <p><label>Cook Time:</label><br>
    <input type="text" name="cook_time" id="cook_time"></p>
  <input type="submit" id="submit">
</form>
