<h1>Please Enter a New Recipe Here!</h1>
<form method="POST" action='/recipes'>
  <p><input type="text" name="name" id="name" placeholder="Recipe Name"></p>
  <p><textarea name="ingredients" id="ingredients" placeholder="Ingredients"></textarea></p>
  <p><input type="text" name="cook_time" id="cook_time" placeholder="Cook Time"></p>
  <p><input type="submit" value="Create"></p>
</form>