<p>Recipe Name: <%= @recipe.name %></p>
<p>List of Ingredients: <%= @recipe.ingredients %></p>
<p>Cook Time: <%= @recipe.cook_time %> minutes.</p>

<form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
