<h1>Name:<%=@recipes.name%></h1>
<h3>Ingredients:<%=@recipes.ingredients%></h3>
<h3>cook_time:<%=@recipes.cook_time%></h3>


<form method="post" action="/recipes/<%= @recipes.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form> 